{
  "openapi": "3.1.0",
  "info": {
    "title": "Jotihunt API",
    "description": "API for Jotihunt, a scouting game in the Netherlands that provides information about subscriptions, areas, and articles.",
    "license": {
      "name": "MIT"
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://jotihunt.nl/api/2.0"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/subscriptions": {
      "get": {
        "description": "Returns all scouting group subscriptions in the system",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Subscription"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/areas": {
      "get": {
        "description": "Returns all areas and their current status",
        "responses": {
          "200": {
            "description": "Areas response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Area"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/articles": {
      "get": {
        "description": "Returns articles with pagination",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of articles per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Articles response with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Article"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/PaginationLinks"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Subscription": {
        "type": "object",
        "properties": {
          "name": {
            "description": "Name of the scouting group",
            "type": "string"
          },
          "accomodation": {
            "description": "Type of accommodation",
            "type": "string"
          },
          "street": {
            "description": "Street name",
            "type": "string"
          },
          "housenumber": {
            "description": "House number",
            "type": ["integer", "string"]
          },
          "housenumber_addition": {
            "description": "Additional house number information",
            "type": "string"
          },
          "postcode": {
            "description": "Postal code",
            "type": "string"
          },
          "city": {
            "description": "City name",
            "type": "string"
          },
          "lat": {
            "description": "Latitude coordinate",
            "type": "string"
          },
          "long": {
            "description": "Longitude coordinate",
            "type": "string"
          },
          "photo_assignment_points": {
            "description": "Points earned for photo assignments",
            "type": ["integer", "null"]
          },
          "area": {
            "description": "Area assignment",
            "type": ["string", "null"]
          }
        }
      },
      "Area": {
        "type": "object",
        "required": ["name", "status", "updated_at"],
        "properties": {
          "name": {
            "description": "Name of the area",
            "type": "string"
          },
          "status": {
            "description": "Current status of the area",
            "type": "string",
            "enum": ["green", "orange", "red"]
          },
          "updated_at": {
            "description": "Last update timestamp of the area status",
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Article": {
        "type": "object",
        "required": ["id", "title", "type", "publish_at", "message"],
        "properties": {
          "id": {
            "description": "Unique identifier for the article",
            "type": "integer"
          },
          "title": {
            "description": "Title of the article",
            "type": "string"
          },
          "type": {
            "description": "Type of the article",
            "type": "string",
            "enum": ["news", "hint", "opdracht"]
          },
          "publish_at": {
            "description": "Publication timestamp",
            "type": "string",
            "format": "date-time"
          },
          "message": {
            "description": "Content of the article",
            "type": "object",
            "properties": {
              "content": {
                "description": "HTML content of the article",
                "type": "string"
              }
            }
          }
        }
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "first": {
            "description": "URL for the first page",
            "type": "string"
          },
          "last": {
            "description": "URL for the last page",
            "type": "string"
          },
          "prev": {
            "description": "URL for the previous page",
            "type": ["string", "null"]
          },
          "next": {
            "description": "URL for the next page",
            "type": ["string", "null"]
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "current_page": {
            "description": "Current page number",
            "type": "integer"
          },
          "from": {
            "description": "First result index on current page",
            "type": "integer"
          },
          "last_page": {
            "description": "Last page number",
            "type": "integer"
          },
          "links": {
            "description": "Page navigation links",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "description": "URL for the link",
                  "type": ["string", "null"]
                },
                "label": {
                  "description": "Label for the link",
                  "type": "string"
                },
                "active": {
                  "description": "Whether this is the active page",
                  "type": "boolean"
                }
              }
            }
          },
          "path": {
            "description": "Base path for pagination",
            "type": "string"
          },
          "per_page": {
            "description": "Number of results per page",
            "type": "integer"
          },
          "to": {
            "description": "Last result index on current page",
            "type": "integer"
          },
          "total": {
            "description": "Total number of results",
            "type": "integer"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}